@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    background-color: #292929;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

h1,
h2,
p {
    color: #ebebeb;
}

a,
a:visited {
    color: #ebebeb;
    text-decoration: none;
}

a:active,
a:hover {
    color: #4EAE7B;
    text-decoration: none;
}

nav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

nav>a {
    vertical-align: top;
    padding: 8px 0;
    display: flex;
    flex-direction: column;
}

.nav-bar i {
    font-size: 36px;
    align-items: center;
}

.profile-card {
    width: 500px;
    padding: 2px 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;

    img {
        width: 500px;
        border-radius: 5px;
    }
}

.profile-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.links-block {
    display: flex;
    align-items: center;
    font-size: 24px;

    i {
        padding: 0 6px;
    }
}

main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

section {}

footer {}

.footer-block {
    display: flex;
    align-items: center;
}